# Auto detect text files and perform LF normalization
* text=auto
Kaiju[[:space:]]Paradise.rbxlx filter=lfs diff=lfs merge=lfs -text
Evade[[:space:]](Snapshot,[[:space:]]Broken).rbxlx filter=lfs diff=lfs merge=lfs -text
