# Auto detect text files and perform LF normalization
* text=auto
Kaiju[[:space:]]Paradise.rbxlx filter=lfs diff=lfs merge=lfs -text
Evade[[:space:]](Snapshot,[[:space:]]Broken).rbxlx filter=lfs diff=lfs merge=lfs -text
Combat[[:space:]]Initiation[[:space:]](Glass[[:space:]]Houses).rbxlx filter=lfs diff=lfs merge=lfs -text
Arsenal[[:space:]](A[[:space:]]random[[:space:]]map).rbxlx filter=lfs diff=lfs merge=lfs -text
Anomic.rbxlx filter=lfs diff=lfs merge=lfs -text
No[[:space:]]Big[[:space:]]Deal.rbxlx filter=lfs diff=lfs merge=lfs -text
Driving[[:space:]]Empire[[:space:]]Car[[:space:]]Racing.rbxlx filter=lfs diff=lfs merge=lfs -text
Trucking[[:space:]]Empire[[:space:]](A[[:space:]]bit[[:space:]]of[[:space:]]the[[:space:]]map).rbxlx filter=lfs diff=lfs merge=lfs -text
Welcome[[:space:]]to[[:space:]]Bloxburg.rbxlx filter=lfs diff=lfs merge=lfs -text
Neighbors.rbxlx filter=lfs diff=lfs merge=lfs -text
Project[[:space:]]Afternight.rbxlx filter=lfs diff=lfs merge=lfs -text
